@model ProjectContentViewModel

<section class="ui items">
    @foreach (var project in Model.Projects)
    {
        <section class="project item">
            <div class="image">
                <img src="@project.ImageUri" />
            </div>
            <div class="content">
                <div class="header">
                    <a asp-action="Project" asp-route-view="@(Html.Encode(project.View))">
                        @project.Name
                </a>
                </div>
                <div class="meta">
                    @foreach (var tag in project.Tags.OrderBy(t => t))
                    {
                        <div class="ui label">@tag</div>
                    }
                </div>
                <div class="description">
                    @project.Description
                </div>
            </div>
        </section>
    }
</section>