@model BlogPostViewModel
@using PersonalWebsite.Services;
@{
    ViewData["Title"] = Model.CurrentPost.SeoTitle;
    ViewData["NavItem"] = "Blog";

    var seoIndexString = Convert.ToString(Model.CurrentPost.OrderInSeries + 1); // Plus one so we don't include "0th".
    string seoIndexSuffix = "";

    if(Model.CurrentPost.OrderInSeries >= 10 && Model.CurrentPost.OrderInSeries <= 20)
        seoIndexSuffix = "th"; // 11th, 12th, etc.
    else if(seoIndexString.Last() == '1')
        seoIndexSuffix = "st"; // 1st, 21st, etc.
    else if(seoIndexString.Last() == '2')
        seoIndexSuffix = "nd"; // 2nd, 22nd, etc.
    else if(seoIndexString.Last() == '3')
        seoIndexSuffix = "rd"; // 3rd, 23rd, etc.
    else
        seoIndexSuffix = "th"; // 4th, 24th, etc.
    ViewData["SeoDescription"] =
        $"The {seoIndexString}{seoIndexSuffix} blog post of my {Model.Series.Reference} series. " +
        $"Includes: {Model.Series.Tags.Aggregate((a, b) => $"{a} {b}")}";

    int tabCount = (Model.LastPost != null && Model.NextPost != null)
                   ? 3
                   : (Model.LastPost != null || Model.NextPost != null)
                     ? 2
                     : 1;

    string tabClass = null;
    switch(tabCount)
    {
        case 1:
            tabClass = "one";
            break;

        case 2:
            tabClass = "two";
            break;

        case 3:
            tabClass = "three";
            break;

        default: break;
    }

    var seoAccessor = new BlogSeriesAndPosts
    {
        Series = Model.Series,
        Posts  = new[] { Model.LastPost, Model.CurrentPost, Model.NextPost }
    };
    ViewData["SeoCanonical"] = $"BlogPost/{seoAccessor.GetPostSeoPath(1)}";

    string DATE_FORMAT = "dd/MM/yyyy";
}

<section class="blog wrapper">
    <menu class="blog navigation @tabClass tab">
        @if (Model.LastPost != null)
        {
            <a class="tab" href="/BlogPost/@seoAccessor.GetPostSeoPath(0)">
                <h2>Previous</h2>
                <span title="@Model.LastPost.Title">@Model.LastPost.Title</span>
            </a>
        }
        <a class="active tab" href="/BlogPost/@seoAccessor.GetPostSeoPath(1)">
            <h2>Current</h2>
            <span title="@Model.CurrentPost.Title">@Model.CurrentPost.Title</span>
        </a>
        @if (Model.NextPost != null)
        {
            <a class="tab" href="/BlogPost/@seoAccessor.GetPostSeoPath(2)">
                <h2>Next</h2>
                <span title="@Model.NextPost.Title">@Model.NextPost.Title</span>
            </a>
        }
    </menu>
    <article class="blog">
        <h1>@Model.CurrentPost.Title</h1>
        <div class="metadata">
            Created on @Model.CurrentPost.DateCreated.ToString(DATE_FORMAT) | Updated on @Model.CurrentPost.DateUpdated.ToString(DATE_FORMAT)
        </div>
        <div class="metadata">
            @{ var shareUrl = Html.Encode($"https://bradley.chatha.dev/BlogPost/{seoAccessor.GetPostSeoPath(1)}"); }
            <a class="social twitter"
               href="https://twitter.com/intent/tweet?text=@shareUrl"
               target="_blank">
                <i class="fa fa-twitter"></i>
                Tweet
            </a>
            <a class="social reddit"
               href="http://www.reddit.com/submit?url=@shareUrl&title=@Html.Encode(Model.CurrentPost.Title)"
               target="_blank">
                <i class="fa fa-reddit-alien"></i>
                Share
            </a>
            <a class="social linkedin"
               href="https://www.linkedin.com/sharing/share-offsite/?url=@shareUrl"
               target="_blank">
                <i class="fa fa-linkedin"></i>
                Share
            </a>
        </div>

        @Html.Raw(Model.CurrentPost.GeneratedHtml)
    </article>
</section>
