@model BlogPostViewModel
@{
    ViewData["Title"] = Model.CurrentPost.SeoTitle;
    ViewData["NavItem"] = "Blog";

    var seoIndexString = Convert.ToString(Model.CurrentPost.OrderInSeries + 1); // Plus one so we don't include "0th".
    string seoIndexSuffix = "";

    if(Model.CurrentPost.OrderInSeries >= 10 && Model.CurrentPost.OrderInSeries <= 20)
        seoIndexSuffix = "th"; // 11th, 12th, etc.
    else if(seoIndexString.Last() == '1')
        seoIndexSuffix = "st"; // 1st, 21st, etc.
    else if(seoIndexString.Last() == '2')
        seoIndexSuffix = "nd"; // 2nd, 22nd, etc.
    else if(seoIndexString.Last() == '3')
        seoIndexSuffix = "rd"; // 3rd, 23rd, etc.
    else
        seoIndexSuffix = "th"; // 4th, 24th, etc.
    ViewData["SeoDescription"] =
        $"The {seoIndexString}{seoIndexSuffix} blog post of my {Model.Series.Reference} series. " +
        $"Includes: {Model.Series.Tags.Aggregate((a, b) => $"{a} {b}")}";

    int tabCount = (Model.LastPost != null && Model.NextPost != null)
                   ? 3
                   : (Model.LastPost != null || Model.NextPost != null)
                     ? 2
                     : 1;

    string tabClass = null;
    switch(tabCount)
    {
        case 1:
            tabClass = "one";
            break;

        case 2:
            tabClass = "two";
            break;

        case 3:
            tabClass = "three";
            break;

        default: break;
    }

    var seriesUrl = $"/BlogPost/{Model.Series.Reference}/";
}

<section class="blog wrapper">
    <menu class="blog navigation @tabClass tab">
        @if (Model.LastPost != null)
        {
            <a class="tab" href="@($"{seriesUrl}{Model.LastPost.OrderInSeries}")">
                <h2>Previous</h2>
                <span title="@Model.LastPost.Title">@Model.LastPost.Title</span>
            </a>
        }
        <a class="active tab" href="@($"{seriesUrl}{Model.CurrentPost.OrderInSeries}")">
            <h2>Current</h2>
            <span title="@Model.CurrentPost.Title">@Model.CurrentPost.Title</span>
        </a>
        @if (Model.NextPost != null)
        {
            <a class="tab" href="@($"{seriesUrl}{Model.NextPost.OrderInSeries}")">
                <h2>Next</h2>
                <span title="@Model.NextPost.Title">@Model.NextPost.Title</span>
            </a>
        }
    </menu>
    <article class="blog">
        <h1>@Model.CurrentPost.Title</h1>
        @Html.Raw(Model.CurrentPost.GeneratedHtml)
    </article>
</section>
