@model BlogIndexViewModel
@{
    ViewData["Title"] = "Blog";
    ViewData["NavItem"] = "Blog";

    string DATE_FORMAT = "dd/MM/yyyy";
}

<section class="series">
    @foreach(var series in Model.Series)
    {
        <div class="wrapper">
            <article>
                <h1>@series.Series.Name</h1>
                <small>Created on @series.Posts.First().DateCreated.ToString(DATE_FORMAT)</small>
                <small>Updated on @series.Posts.OrderBy(p => p.DateUpdated).Last().DateUpdated.ToString(DATE_FORMAT)</small>
                <p>@series.Series.Description</p>

                <ol>
                    @foreach (var post in series.Posts)
                    {
                        <li>
                            <a asp-action="BlogPost" asp-route-seriesRef="@series.Series.Reference" asp-route-postIndex="@post.OrderInSeries">
                                @post.Title
                            </a>
                        </li>
                    }
                </ol>
            </article>
        </div>
    }
</section>