@model BlogIndexViewModel
@{
    ViewData["Title"] = "Blog";
    ViewData["NavItem"] = "Blog";
}

<section class="awards element">
    <div class="one column grid">
        <div class="row">
            <div class="center aligned column">
                <article class="award">
                    @foreach(var series in Model.Series)
                    {
                        <h1>@series.Series.Name</h1>
                        <p>@series.Series.Description</p>

                        <ul>
                            @foreach (var post in series.Posts)
                            {
                                <li>
                                    <a asp-action="BlogPost" asp-route-seriesName="@series.Series.Name" asp-route-postIndex="@post.OrderInSeries">
                                        @post.Title
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                </article>
            </div>
        </div>
    </div>
</section>