<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-language" content="en-gb">
    @if(ViewData.ContainsKey("SeoDescription"))
    {
        <meta name="description" content="@ViewData["SeoDescription"]" />
    }

    <title>@ViewData["Title"] - Bradley Chatha</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    @if(ViewData.ContainsKey("SeoCanonical"))
    {
        <link rel="canonical" href="https://bradley.chatha.dev/@ViewData["SeoCanonical"]" />
    }

    <partial name="_LayoutStylesPartial" />
</head>
<body>
    <header>
        <nav class="navbar">
            <h1>
                <a href="/">
                    Bradley Chatha
                </a>
            </h1>
            <div class="gutter"></div>
            <div class="links">
                @{ 
                    var homeClasses    = (ViewData["NavItem"] as string) == "Home"    ? "active item" : "item";
                    var projectClasses = (ViewData["NavItem"] as string) == "Project" ? "active item" : "item";
                    var awardsClasses  = (ViewData["NavItem"] as string) == "Awards"  ? "active item" : "item";
                    var blogClasses    = (ViewData["NavItem"] as string) == "Blog"    ? "active item" : "item";
                }
                <a class="@homeClasses" href="/">Home</a>
                <a class="@projectClasses" href="/">Projects</a>
                <a class="@blogClasses" asp-action="Blog">Blog</a>
                <a class="@awardsClasses" asp-action="Awards">Awards</a>
            </div>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="gutter"></div>
        <address>
            <label>Contact Me</label>
            <div>
                <i class="fa fa-envelope"></i>
                bradley.chatha@gmail.com
            </div>
            <div>
                <i class="fa fa-phone"></i>
                +44 7506701660
            </div>
        </address>
        <div class="social medias">
            <a href="https://www.github.com/SealabJaster">
                <i class="fa fa-github-square fa-4x"></i>
            </a>
            <a href="https://www.linkedin.com/in/bradley-chatha/">
                <i class="fa fa-linkedin-square fa-4x"></i>
            </a>
        </div>
    </footer>

    <partial name="_LayoutJsPartial" />
    @RenderSection("Scripts", required: false)
    <script>
        hljs.initHighlightingOnLoad();
    </script>
</body>
</html>
