<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bradley Chatha</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <partial name="_LayoutStylesPartial" />
</head>
<body>
    <header>
        <nav class="navbar">
            <h1>
                <a href="/">
                    Bradley Chatha - Software Developer
                </a>
            </h1>
            <section class="center column">
                <div class="center items">
                    @{ 
                        var homeClasses    = (ViewData["NavItem"] as string) == "Home"    ? "active item" : "item";
                        var projectClasses = (ViewData["NavItem"] as string) == "Project" ? "active item" : "item";;
                        var awardsClasses  = (ViewData["NavItem"] as string) == "Awards"  ? "active item" : "item";;
                    }
                    <a class="@homeClasses" href="/">Home</a>
                    <a class="@projectClasses" href="/">Projects</a>
                    <a class="@awardsClasses" asp-action="Awards">Awards</a>
                </div>
            </section>
        </nav>
    </header>
    <main>
        <section class="one column grid">
            <div class="center aligned row">
                <div class="column">
                    @RenderBody()
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section class="three column grid">
            <div class="center aligned row">
                <div class="padding column"></div>
                <div class="column">
                    <div class="contact element">
                        <label>Contact Me</label>
                        <div>
                            <i class="fa fa-envelope fa-lg"></i>
                            bradley.chatha@gmail.com
                        </div>
                        <div>
                            <i class="fa fa-phone fa-lg"></i>
                            <span class="phone padded">
                                +447506701660
                            </span>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="social media element">
                        <a class="linkedin" href="https://www.linkedin.com/in/bradley-chatha/" target="_blank">
                            <i class="fa fa-linkedin fa-3x"></i>
                        </a>
                        <a class="twitter" href="https://twitter.com/BradleyChatha" target="_blank">
                            <i class="fa fa-twitter fa-3x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </footer>

    <partial name="_LayoutJsPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>
