<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-language" content="en-gb">
    @if(ViewData.ContainsKey("SeoDescription"))
    {
        <meta name="description" content="@ViewData["SeoDescription"]" />
    }

    @if(((string)ViewData["Title"]).StartsWith("^"))
    {
        <title>@(((string)ViewData["Title"]).Substring(1))</title>
    }
    else 
    {
        <title>@ViewData["Title"] - Bradley Chatha</title>
    }

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
    <link rel="stylesheet" href="~/css/font-awesome.min.css"/>

    @if(ViewData.ContainsKey("SeoCanonical"))
    {
        <link rel="canonical" href="https://bradley.chatha.dev/@ViewData["SeoCanonical"]" />
    }

    <meta name="twitter:card"    content="summary"/>
    <meta name="twitter:site"    content="@@BradleyChatha"/>
    <meta name="twitter:creator" content="@@BradleyChatha"/>
    <meta property="og:locale"   content="en_GB"/>
    @RenderSection("SchemaOrg", required: false)

    @RenderSection("Styles", required: false)
    @if(ViewData.ContainsKey("CssBundle"))
    {
        <link rel="stylesheet" href="~/css/bundle-@(ViewData["CssBundle"]).css" asp-append-version="true"/>
    }
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="name">
                <a class="no style" href="/">
                    Bradley Chatha
                </a>
            </div>
            <div class="gutter"></div>
            <div class="links">
                @{ 
                    var homeClasses    = (ViewData["NavItem"] as string) == "Home"    ? "active item" : "item";
                    var projectClasses = (ViewData["NavItem"] as string) == "Project" ? "active item" : "item";
                    var awardsClasses  = (ViewData["NavItem"] as string) == "Awards"  ? "active item" : "item";
                    var blogClasses    = (ViewData["NavItem"] as string) == "Blog"    ? "active item" : "item";
                }
                <a class="@homeClasses" href="/">Home</a>
                <a class="@projectClasses" asp-action="Projects">Projects</a>
                <a class="@blogClasses" asp-action="Blog">Blog</a>
                <a class="@awardsClasses" asp-action="Awards">Awards</a>
            </div>
            <div class="gutter multiline"></div>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="links">
            <a class="no style" href="/privacy-policy">
                Privacy Policy
            </a>
        </div>
        <address>
            <label>Contact Me</label>
            <div>
                <i class="fa fa-envelope"></i>
                bradley@chatha.dev
            </div>
            <div>
                <i class="fa fa-phone"></i>
                +44 7506701660
            </div>
        </address>
        <div class="social medias">
            <a href="https://www.github.com/SealabJaster">
                <i class="fa fa-github-square fa-4x"></i>
            </a>
            <a href="https://www.linkedin.com/in/bradley-chatha/">
                <i class="fa fa-linkedin-square fa-4x"></i>
            </a>
            <a href="https://twitter.com/BradleyChatha">
                <i class="fa fa-twitter-square fa-4x"></i>
            </a>
        </div>
    </footer>

    <partial name="_LayoutJsPartial" />
    @RenderSection("Scripts", required: false)
    <script>
        hljs.initHighlightingOnLoad();
    </script>
</body>
</html>
